test/
lazylock.toml
ags
anyrun
arkrc
auroraerc
autostart
baloofileinformationrc
baloofilerc
bluedevilglobalrc
BraveSoftware
calibre
calibrerc
cef_user_data
dconf
device_automounter_kcmrc
discord
discoverrc
dolphinrc
drkonqirc
dunst
Electron
epr
filelightrc
filetypesrc
fish
fontconfig
foot
fuzzel
gemini_history.json
gitui
glib-2.0
go
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
helix
htop
hypr
ibus
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate
katemetainfos
katerc
katevirc
kcalcrc
kcminputrc
kconf_updaterc
KDE
kde.org
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kgammarc
kglobalshortcutsrc
kinfocenterrc
kiorc
kmenueditrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
ktrashrc
Kvantum
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
lazygit
libaccounts-glib
libreoffice
light
lutris
menus
mimeapps.list
moondeckbuddy
mpv
neofetch
nvim.bak
okularpartrc
okularrc
org.kde.kded.smart
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma-workspace
plasma.emojierrc
plasma_calendar_holiday_regions
PlasmaDiscoverUpdates
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
procps
Proton
pulse
qmk
qt5ct
qt6ct
QtProject.conf
qtvirtualkeyboard
r2modman
r2modmanPlus-local
rofi
session
simple-update-notifier
soffice.binrc
spectaclerc
starship.toml
sunshine
systemd
systemmonitorrc
systemsettingsrc
thorium-flags.conf
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
vesktop
via-nativia
Vial
vlc
wally
waybar
wlogout
xdg-desktop-portal-kderc
xsettingsd
yay
Zelda64Recompiled
zoom.conf
zoomus.conf
tmux/plugins/*
tmux/plugins
nvim/.git/
nvim/lazy-lock.json
nvim/lazy-lock.json
tmux/plugins/*
tmux/tmux/plugins/catppuccin-tmux
tmux/tmux/plugins/tmux
tmux/tmux/plugins/tmux-sensible
tmux/tmux/plugins/tmux-yank
tmux/tmux/plugins/tpm
tmux/tmux/plugins/vim-tmux-navigator
