lazylock.toml
tmux/plugins/*
tmux/plugins
nvim/.git/
nvim/lazy-lock.json
nvim/lazy-lock.json
tmux/plugins/*
tmux/tmux/plugins/catppuccin-tmux
tmux/tmux/plugins/tmux
tmux/tmux/plugins/tmux-sensible
tmux/tmux/plugins/tmux-yank
tmux/tmux/plugins/tpm
tmux/tmux/plugins/vim-tmux-navigator
